<div id="<%= dom_id storage %>">
  <p>
    <strong>Name:</strong>
    <%= storage.name %>
  </p>

  <p>
    <strong>Available cheese:</strong>
    <%= storage.available_cheese %>
  </p>

  <p>
    <strong>Available ham:</strong>
    <%= storage.available_ham %>
  </p>

  <p>
    <strong>Available sauce:</strong>
    <%= storage.available_sauce %>
  </p>

  <p>
    <strong>Available pineapple:</strong>
    <%= storage.available_pineapple %>
  </p>

  <p>
    <strong>Pizzeria point:</strong>
    <%= storage.pizzeria_point_id %>
  </p>

</div>
