<div id="<%= dom_id adress %>">
  <p>
    <strong>Name:</strong>
    <%= adress.name %>
  </p>

  <p>
    <strong>Street name:</strong>
    <%= adress.street_name %>
  </p>

  <p>
    <strong>Street number:</strong>
    <%= adress.street_number %>
  </p>

  <p>
    <strong>City:</strong>
    <%= adress.city %>
  </p>

</div>
