<h1>Adresses</h1>

<%= form_tag adresses_path, :method => 'get' do %>
  <%= hidden_field_tag :direction, params[:direction]%>
  <%= hidden_field_tag :sort, params[:sort]%>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table class="table table-striped table-hover table-sm">
  <thead>
    <tr>
      <th scope="col"><%= sortable "name", "Name" %> </th>
      <th scope="col"><%= sortable "street_name", "Street name" %> </th>
      <th scope="col"><%= sortable "street_number", "Street number" %> </th>
      <th scope="col"><%= sortable "city", "City" %> </th>
      <th colspan="3" scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @adresses.each do |adress| %>
      <tr>
        <td><%= adress.name %></td>
        <td><%= adress.street_name %></td>
        <td><%= adress.street_number %></td>
        <td><%= adress.city %></td>
        <td><%= link_to 'Show', adress %></td>
        <td><%= link_to 'Edit', edit_adress_path(adress) %></td>
        <td><%= link_to 'Destroy', adress, method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Adress', new_adress_path %>
