<div id="<%= dom_id pizza_order %>">
  <p>
    <strong>Ingredients multiplayer:</strong>
    <%= pizza_order.ingredients_multiplayer %>
  </p>

  <p>
    <strong>Pizza type:</strong>
    <%= pizza_order.pizza_type_id %>
  </p>

  <p>
    <strong>Pizza size:</strong>
    <%= pizza_order.pizza_size_id %>
  </p>

  <p>
    <strong>Adress:</strong>
    <%= pizza_order.adress_id %>
  </p>

  <p>
    <strong>Pizzeria point:</strong>
    <%= pizza_order.pizzeria_point_id %>
  </p>

</div>
