<div id="<%= dom_id ingredients_price %>">
  <p>
    <strong>Name:</strong>
    <%= ingredients_price.name %>
  </p>

  <p>
    <strong>Cheese price:</strong>
    <%= ingredients_price.cheese_price %>
  </p>

  <p>
    <strong>Ham price:</strong>
    <%= ingredients_price.ham_price %>
  </p>

  <p>
    <strong>Sauce price:</strong>
    <%= ingredients_price.sauce_price %>
  </p>

  <p>
    <strong>Pineapple price:</strong>
    <%= ingredients_price.pineapple_price %>
  </p>

</div>
